extends layout

block content
  h1 #{title}
  h2 Username is @#{username}
  each tweet in tweets.statuses
    p 
      | <blockquote class="twitter-tweet"><p lang="en" dir="ltr">#{tweet.text}<a href="https://twitter.com/#{username}/status/#{tweet.id_str}.?ref_src=twsrc%5Etfw"></a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  else
    p No tweets matched your query.